workDir = "/users/user11/work"


params {
  fastq = "/users/user11/wgs/data/*_{1,2}.fastq.gz"
  chr19 = "/users/user11/wgs/data/chr19.fa"
  chr19Folder = "/users/user11/wgs/data"
  outdir = "/users/user11/pipe-assignment/output"
}

singularity {
  enabled = true
  autoMounts = true
}

process {
  withName: 'FASTQC' {
   cpus = 2
   memory = 5.GB
   time = 1.h
  }
  withName: 'TRIMMOMATIC' {
   cpus = 2
   memory = 5.GB
   time = 1.h
   container = "/users/user11/pipe-assignment/trim.sif"
  }
  withName: 'BWA' {
   cpus = 2
   memory = 7.GB
   time = 2.h
  }
  withName: 'SAM2BAM' {
   cpus = 2
   memory = 4.GB
   time = 1.h
  }
  withName: 'VARCALLING' {
   cpus = 2
   memory = 3.GB
   time = 1.h
  }
}

profiles {
  local {
    process.executor = 'local'
  }
  slurm {
    process.executor = 'slurm'
    process.queue = 'Main'
  }
}

